 /* src/components/Sidebar.css */
ul{
  list-style: none;
  padding: 0;
}

 .sidebar{
  padding: 10px;
 }

.top-menu{
  font-weight: 600;
  padding-bottom: 10px;
  cursor: pointer;
}

.category-name {
  padding-left: 15px;
  padding-bottom: 5px;
}

.section-name {
  padding-left: 25px;
  padding-bottom: 5px;
}

.product-type-name {
  padding-left: 35px;
  padding-bottom: 5px;
}


  
  
  
  