/* src/App.css */
.App {
  display: flex;
}

.main-container {
  display: flex;
  /* height: 100vh; */
}


.right-content {
  width: 80%;
  background-color: #ffffff;
}

.add-category-form {
  margin-top: 20px;
}

.add-category-form input {
  padding: 5px;
  margin-right: 10px;
}

.add-category-form button {
  padding: 5px 10px;
  cursor: pointer;
}



